node_modules/


/test-clicker-mern-circleci/build

.DS_Store
/test-clicker-mern-circleci/.env.local
/test-clicker-mern-circleci/.env.development.local
/test-clicker-mern-circleci/.env.test.local
/test-clicker-mern-circleci/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*